@font-face {
    font-family: "iconfont";
    /* Project id 3706527 */
    src: url('../fonts/iconfont.woff2') format('woff2'),
        url('../fonts/iconfont.woff') format('woff'),
        url('../fonts/iconfont.ttf') format('truetype');
}

.iconfont {
    font-family: "iconfont" !important;
    font-size: 24px;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-twitter:before {
    content: "\e655";
}

.icon-discord:before {
    content: "\ebf8";
}

.icon-email:before {
    content: "\e685";
}

.icon-github:before {
    content: "\e66f";
}

@tailwind base;
@tailwind components;
@tailwind utilities;